<router-outlet></router-outlet>
<!-- <div class="alert alert-success text-danger"><p>Test</p></div> -->
<section>
<!-- <h4>Two Way Binding</h4>
<input class="form-control" [(ngModel)]="testVal">
{{testVal}} -->
<!-- <table class="table table-bordered">
  <thead>
      <tr>
          <th>#</th>
          <th>User Name</th>
          <th>Street</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="
      let user of data; 
      let i =index; 
      "
      [ngClass]="{'alert':true, 'alert-danger':true}"
      >
          <td>{{i}}</td>
          <td>{{user.name}}</td>
          <td>{{user.address.street}}</td>
      </tr>
  </tbody>
</table> -->
<!-- <button class="btn btn-primary" (click)="click()" >test me</button>
<div ngif="status">Hello</div> -->
<!-- <input class="form-control" [(ngModel)]="Year">
<div [ngSwitch]="Year%12">
    <p *ngSwitchCase="0">monkey</p>
    <p *ngSwitchCase="1">Rooster</p>
    <p *ngSwitchCase="2">dog</p>
    <p *ngSwitchCase="3">big</p>
    <p *ngSwitchCase="4">rat</p>
    <p *ngSwitchCase="5">ox</p>
    <p *ngSwitchCase="6">tiger</p>
    <p *ngSwitchCase="7">rabbit</p>
    <p *ngSwitchCase="8">dragon</p>
    <p *ngSwitchCase="9">snake</p>
    <p *ngSwitchCase="10">horse</p>
    <p *ngSwitchCase="11">sheep</p>
    <p *ngSwitchDefault>Invalid</p>

</div> -->
<!-- <input type="search" class="form-control m-5" [(ngModel)]="search">
<table class="table table-bordered">
  <thead>
      <tr>
          <th>#</th>
          <th>Title</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="
      let todo of (data| filter:search)as folder; 
      let i =index; "
      
      [ngClass]="{'alert':true, 'alert-danger':true}"
      >
          <td>{{i}}</td>
          <td>{{todo.title}}</td>
      </tr>
  </tbody>
</table> -->
</section>
<!--  -->